@charset "utf-8";

body {
    font-size: 14px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.inner {
    max-width: 1110px;
    width: 86.4%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
}

.top {
    background-image: url(./images/bg_main.png);
    margin-bottom: 100px;
    padding: 80px 0 250px;
}

.top p {
    font-size: 18px;
    padding: 40px 0 0;
}

.top span {
    font-size: 36px;
    padding: 90px 40px 40px 40px;
}

section h2 {
    font-size: 14px;
    color: #fff;
    background-color: #72C9F3;
    padding: 8px 15px;
    text-align: center;
    margin-bottom: 15px;
}

section h3 {
    font-size: 36px;
    border-bottom: solid 1px #000;
    text-align: center;
    margin-bottom: 50px;
}

.kk {
    background-image: url(./images/pic_discussion01.png);
    padding: 100px 0 200px;
}

.kg {
    background-image: url(./images/pic_discussion02.png);
    padding: 100px 0 200px;
}